.seaconvoy-desc {
  height: 100vh;
  display: flex;
  /* Makes direct children (.seaconvoy-desc-content) flex items */
}

.seaconvoy-desc-content {
  display: flex;
  width: 100%;
}

.seaconvoy-desc-container,
.seaconvoy-desc-bg-pic {
  flex: 1;
}

.seaconvoy-desc-bg-pic {
  z-index: -10;
  height: 100vh;
  /* object-fit: cover; */
}

.seaconvoy-desc-heading {
  margin: 30px 0px 10px 0px;
}

.seaconvoy-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px 120px;
}

.seaconvoy-desc-container p span {
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .seaconvoy-desc-bg-pic {
    display: none;
  }

  .seaconvoy-desc-heading{
    width: 400px;
  }

  .seaconvoy-desc-container {
    margin: 0px;
    width: 300px;
  }
}