.mgaller-section {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.mgallery-grid {
  margin-top: 100px;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 20px;
}

.mgallery-item img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.sized-box-gallery-page {
  height: 200px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .mgallery-grid {
    margin: 50px 0;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    gap: 20px;
  }

  .mgallery-item img {
    width: 380px;
    height: 200px;
    /* object-fit: cover; */
  }

  .sized-box-gallery-page {
    display: none;
  }
}