.nav-bar {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    /* padding-top: 38px; */
}

.nav-links {
    display: flex;
    margin-right: 40px;
} 
.nav-links li {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 25px;
} 
.nav-links li a {
    color: white;
}   

.nav-bar-logo{
    margin-left: 70px;
    
}